@{
    ViewData["Title"] = "Home Page";
}


BURAYA BARİSTA YA DA MÜŞTERİ ŞEKLİNDE İKİ BUTON EKLENECEK

BARİSTA -> BARISTA/INDEX
MUSTERİ -> ORDER/INDEX


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
