@model WebProject.Models.Barista

@{
    ViewData["Header"] = "Add Barista";
    ViewData["Title"] = "Add Barista";
}
<link rel="stylesheet" href="~/css/signup.css">

<div class="signup-container">
    <div class="wrapper">

        <div class="error-message">
            <div id="errorMessage">@TempData["Error Message"]</div>
        </div>

        <form asp-action="Signup" method="post" class="loginForm">
            <div asp-validation-summary="ModelOnly" class="validation-summary"></div>
            <div class="form-group">
                <input class="loginInput" asp-for="Email" placeholder="Email" required/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="loginInput" asp-for="Password" type="password" placeholder="Password" required/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="loginBtn">Add</button>
        </form>
    </div>
</div>
<div style="height: 15vh;"></div>

<script>
    setTimeout(function () {
        var errorMessage = document.getElementById("errorMessage");

        if (errorMessage) {
            setTimeout(function () {
                errorMessage.style.opacity = '0';
            }, 1000);
        }
    }, 5000);
</script>
