<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - LOS SEYMANOS EMIRHANOS</title>
    <link rel="stylesheet" href="~/css/Layout2.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap" rel="stylesheet">

</head>

<body id="body">
    @RenderBody()
</body>

</html>

<script>
    @if (ViewData["Title"]?.ToString() == "Login")
    {
        @:var body = document.getElementById("body");
        @:var image = document.createElement("img");
        @:image.src = "../images/logo.png";
        @:image.style.position = "absolute";
        @:image.style.top = "50%";
        @:image.style.left = "50%";
        @:image.style.opacity = "0.1";
        @:image.style.transform = "translate(-130%, -80%)";
        @:image.style.zIndex = "-1";

        @:body.appendChild(image);
        
    }
</script>
