.productsContainer {
    width: 70%;
    height: 78vh;
    overflow: auto;
    padding-right: 30px;
    padding-left: 20px;
}

.productsContainer::-webkit-scrollbar, .tableContainer::-webkit-scrollbar {
    width: 10px;
}

.productsContainer::-webkit-scrollbar-thumb, .tableContainer::-webkit-scrollbar-thumb {
    background-color: #2e292873;
    border-radius: 6px;
}

.productsContainer::-webkit-scrollbar-track, .tableContainer::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}


#ProductsList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.product:hover {
    color: #f8f8f8;
}

.product {
    margin-bottom: 45px;
    background-image: url("../images/latte.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 32%;
    padding: 15px;
    transition: all 0.3s;
    height: 215px;
    border-radius: 30px;
    color: #f8f8f8;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.15);
    font-size: 24px;
}

.productInfo {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1;
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2E2928;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    z-index: 0;
    opacity: .5;
}

.Wrapper {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;

}

.right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quantityControl{
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 3;
}

.controlBag{
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
    flex-direction: column;
}

.controlBag input {
    padding-left: 10px;
    width: 45px;
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    background: none;
    border: none;
    color: #f8f8f8;
}

.controlBag button {
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 10px;
    background-color: #f8f8f8;
    color: #2E2928;
    z-index: 1;
}

.pricep{
    margin-top: 90px;
    width: 60px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    margin-bottom: 20px;
    padding: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 12px;
}

.loginInput {
    background-color: #2e292827;
    width: 15vw;
    height: 5vh;
    font-size: 18px;
    padding: 8px;
    border: transparent;
    border-radius: 10px;
}

.loginInput:first-child{
    margin-bottom: 15px;
}

.loginInput:focus{
    transition: all 0.3s;
    outline: 1px dashed #2E2928;
}

.loginInput::placeholder {
    color: #2E2928;
    opacity: .7;
}

.orderButton {
    background-color: #b80f2b;
    color: #f8f8f8;
    border: none;
    width: 10vw;
    height: 5vh;
    transition: all 0.3s;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
    border-radius: 14px;
    font-size: 18px;
}

.orderButton:hover{
    opacity: .8;
}

.addedRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2E2928;
}

.nameElement{
    max-width: 25px;
}
