body {
  font-family: Arial, sans-serif;
  background-color: #F8F8F8;
  font-family: 'Lato', sans-serif;
  color: #2E2928;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}

.product-card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  border: 1px solid black;
  border-radius: 25px;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card h2 {
  font-size: 1.5em;
  margin-top: 10px;
}

.product-card p {
  color: #555;
  font-size: 1.2em;
}

button {
  background-color: #0795b9;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

td, th{
  padding: 2px 30px;
}

#ProductsList {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
#OrderDetails {
  /* display: flex;
  align-items: flex-start;
  flex-wrap: wrap; */
  border: 2px black solid;
  border-radius: 10px;
  padding: 5px 0px;
  background-color: #fff;
}

#tbl {
  
  width: max-content;
}

h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 48px;
}