@{
    ViewData["Header"] = "The order deleted successfully";
}


<div style="display: flex; align-items: center; justify-content: center; font-size: 24px;">
    <a href="/Order/Create" style="
            text-decoration: none; color: #F8F8F8; background-color: #b80f2b; font-family: 'Raleway', sans-serif; padding: 25px 28px; 
            border-radius: 14px;
            transition: all 0.3s; text-align: center;" onmouseover="this.style.opacity=0.8"
        onmouseout="this.style.opacity=1">Create a New Order!</a>
</div>
<div style="height: 15vh;"></div>